/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* viewport meta tag  */
/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.content{
	max-width: 70%;
	margin: auto;
	background-image: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	min-height: 100%;
}

head{
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    /* viewport meta tag */
}

body{
	background-color:cadetblue;
 	
}

.navigation{
	background-color:powderblue;
	position: fixed;
	z-index: 10;
	border: 5px solid teal;
}

.navigation a{
	display: inline-block;
	margin: 20px 50.4px;
	padding: 15px;
	color: rgb(16, 2, 54);
	text-decoration: none;
	font-family: 'Mansalva', cursive;
}

.navigation a:hover{
	color: teal;
	text-shadow: 2px 2px 5px rgb(72, 19, 85);
}

header {
	width: 400px;
	height: 400px;
	display: inline-block;
	margin: 50px 200px 50px 200px;
	padding: 50px;
	text-align:center;
	font-size:86px;
}


.getStarted{
	font-size:20px;
	padding: 10px;
	margin: 10px;
	border: 3px solid black;
	font-family: 'Mansalva', cursive;

}

.topImg{

	display:inline-block;
	margin: 150px 100px 15px 0px;
}

.topContent{
	border-top: 1px solid gray;
	padding: 10px 0px 10px 0px;
	
}

h2{
	padding: 10px;
	margin: 10px 0px 50px 20px;
	display: inline-block;
	position: absolute;
}

.aboveContent p{
	width: 655px;
	height: 50px;
	padding: 10px 10px 10px 30px;
	margin: 50px 0px 50px 0px;
	display: inline-block;
}

.middle-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
}

.belowContent{
	border-bottom: 1px solid gray;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 50px 35px;
}

.belowContent p{
	width: 400px;
	height: 50px;
	padding: 10px;
	margin: 50px 0px 50px 0px;
	display: inline-block;
}

address{
	width: 300px;
	height: 50px;
	padding: 10px;
	margin: 50px 0px 50px 0px;
	display: inline-block;
}

address p{
	padding: 10px 0px 0px 0px;
	margin: 10px 0px 0px 0px;
}

footer{
	padding: 10px 0px 0px 0px;
	margin: 10px 0px 0px 0px;
	text-align: center;
	font-family: 'Mansalva', cursive;
}

/* TABLET VIEW: 800px */

@media (min-width: 800px) {

    nav {
        display: flex;
        justify-content: space-evenly;
    }

    nav li {
        display: inline-block;
        width:  80px;
        border-bottom: none;
        text-align: center;
    }

    .logo-container {
        border-bottom: none;
    }

    .subtitle {
        width: 100%;
    }

   .features, .about {
       display: inline-block;
       width: 49%;
   } 

   .services, .product, .vision {
       display: inline-block;
       width: 33%;
   }

   .about-section img {
       width: 100%;
   }
}


/* DESKTOP VIEW px */

/* @media (min-width: 1000px) {

    .nav-bar {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top: 20px;
    }

    nav {
        width: 80%;
        align-items: flex-start;
    }

    .logo-container {
        width: 20%;
    }

    .header-container {
        width: 100%;
        height: 300px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin: 20px 0px;
        border-bottom: 1px solid black;
      
    }
    
    .subtitle {
        width: 49%;
        display: inline-block;
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding-bottom: 40px;
        border-bottom: none;
    }
    
    h1 {
      font-size: 50px;
      text-align: center;
      margin-top: 40px;
    }
    
    .button {
        width: 115px;
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 12px;
        border: 1px solid black;
        padding: 4px;
        text-align: center;
    }
    
    
    .header-container img {
        display: inline-block;
        vertical-align: bottom;  
    }
} */